{% extends 'base.html.twig' %}

{% block title %}Edit Rqth{% endblock %}

{% block body %}
    <h1>Edit Rqth</h1>

    {{ include('rqth/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rqth_index') }}">back to list</a>

    {{ include('rqth/_delete_form.html.twig') }}
{% endblock %}
